<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.acer.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".menu"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".login"
            android:screenOrientation="landscape" />
        <activity
            android:name=".match_two"
            android:screenOrientation="landscape" />
        <activity
            android:name=".match_t"
            android:screenOrientation="landscape" />
        <activity
            android:name=".match_one"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Reg"
            android:screenOrientation="landscape" />
        <activity
            android:name=".User"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Data"
            android:screenOrientation="landscape" />
        <activity
            android:name=".teacher"
            android:screenOrientation="landscape" />
        <activity android:name=".Score" />
        <activity android:name=".teach_kod" android:screenOrientation="landscape"></activity>
    </application>

</manifest>